{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href={% static 'css/style.css' %}>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <title></title>
</head>
<body class="body">
<div class="app">
    <div class="vid-container">
        <video Loop>
            <source src={% static 'video/sitar.mp4' %} type="video/mp4">
        </video>
    </div>

    <div class="time-select">
        <button data-time="120">2 Minutes</button>
        <button data-time="300">5 Minutes</button>
        <button data-time="600">10 Minutes</button>
    </div>
    <div class="player-container">
        <div class="timer-container">


            <audio class="song">
                <source src={% static 'sounds/sitar.mp3' %}>
            </audio>
            <audio class="bell">
                <source src={% static "sounds/bell.mp3" %}>
            </audio>

            <div class="base-timer">
                <img src={% static 'svg/play.svg' %} alt="play" class="play">
                <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <g class="base-timer__circle">
                        <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
                        <path
                                id="base-timer-path-remaining"
                                stroke-dasharray="283"
                                class="base-timer__path-remaining"
                                d="
          M 50, 50
          m -45, 0
          a 45,45 0 1,0 90,0
          a 45,45 0 1,0 -90,0
        "
                        ></path>
                    </g>
                </svg>
                <div id="base-timer-label" class="base-timer__label">0:00</div>


            </div>

        </div>
    </div>

    <div class="sound-picker">
        <button data-sound="/sounds/rain.mp3" data-video="/video/rain.mp4">
            <img src={% static 'svg/rain.svg' %} alt="rain"/></button>
        <button data-sound="/sounds/beach.mp3" data-video="/video/beach.mp4">
            <img src={% static 'svg/beach.svg' %} alt="rain"/></button>
        <button data-sound="/sounds/sitar.mp3" data-video="/video/sitar.mp4">
            <img src={% static 'svg/sitar.svg' %} alt="sitar"/></button>
    </div>
    <div class="vol-control-container">
        <button id="mute" class="mute-button">
            <img id="mute-icon" class="vol-image mute-image"  src={% static 'svg/mute.svg' %} alt="mute">
        </button>
        <div class="volume-slider-container">
            <input id="vol-control" class="volume-slider" type="range" min="0" max="100" step="1" oninput="SetVolume(this.value)" onchange="SetVolume(this.value)">
        </div>
        <button id="max" class="max-button">
            <img id="max-icon" class="vol-image max-image" src={% static 'svg/volume-max.svg' %} alt="max">
        </button>
    </div>

</div>
<script src={% static 'js/app.js' %}>

</script>
</body>
</html>
